page-login {

  // h3 {
  //   text-align: center;
  // }

  ion-title {
    text-align: center;
  }

  img {
    width: 150px;
    align-self: center;
    margin: auto;
    display: block;
    padding: 10px;
  }

  // .login-button {
  //   margin-top: 10%;
  // }

  // .login-input {
  //   width: 95%
  // }
  
  .img-container {
    margin-top: 10%;
  }
  
  .login-form {
    margin-top: 10%;
    margin-bottom: 20%;
  }

}



.errorLogin {
  .toast-message {
    background: color($colors, danger);
  }
}
