page-login {

  h3 {
    text-align: center;
  }

  ion-title {
    text-align: center;
  }

  img {
    width: 150px;
    align-self: center;
    margin: auto;
    display: block;
    padding: 10px;
  }

}

.errorLogin {
  .toast-message {
    background: color($colors, danger);
  }
}
