page-home {
    .welcome {
        text-align: center;
        margin-top: 15%;
        background-image: url('../assets/imgs/pig-farm2.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .welcome .button {
        margin-top: 5%;
    }

    .buttons-container {
        margin-top: 25%;
    }

    .text-container {
        color: white;
    }

    img {
        width: 20px;
        margin-right: 5%;
    }

    .exit-icon {
        margin-right: 5%;
    }

}
