page-cadastro-porco {

  .cadastro-form {
    border-radius: 4px;
    justify-content: left;
  }

  .cadastro-form ion-item {
    margin-bottom: 7%; // 777 lil raff bro
  }

  img {
    width: 25%;
    align-self: center;
    margin: auto;
    display: block;
    padding: 10px;
  }

}

.cadastradoToast {
  .toast-message {
    background: color($colors, secondary);
  }
}

.notCadastradoToast {
  .toast-message {
    background: color($colors, danger);
  }
}



