page-cadastro-porco {

  .cadastrar-button {
    margin-top: 20%;
  }

  .cadastro-form {
    border-radius: 4px;
    justify-content: left;
  }

}

.cadastradoToast {
  .toast-message {
    background: color($colors, secondary);
  }
}

.notCadastradoToast {
  .toast-message {
    background: color($colors, danger);
  }
}
